*{
    margin: 0;
    padding: 0;
    
}

/* Header css started here  */

.logoImg{
    height: 100px;
    width: 100px;
}

/* Header css ended here  */

/* card started here  */
.main_parent{
    width: 400px;
    padding: 20px;
    margin: 10px;

}
/* card ended here  */

.mainInnerImg img{
   width: 100%;
}
.paragraphLogo{
    width: 4%;
}

.mainImageLogo{
    height: 10px;
    scroll-behavior: auto;
}

.btnSet{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.countnum{
    font-size: 16px;
    position: absolute;
    top: 41px;
    color: red;
}

.disCountCl{
    background-color: #3fbb65de;
}
.totalColor{
    background-color: #d64c4c;
    color: white;
}