*{
    margin: 0;
    padding: 0;
    
}

/* Header css started here  */

.logoImg{
    height: 100px;
    width: 100px;
}

/* Header css ended here  */

/* card started here  */
.main_parent{
    width: 400px;
    padding: 20px;
    margin: 10px;

}
/* card ended here  */

.mainInnerImg img{
   width: 100%;
}
.paragraphLogo{
    width: 4%;
}

.mainImageLogo{
    height: 10px;
    scroll-behavior: auto;
}